@page "/"
@inject Data.LoginState loginState

@if (!loginState.IsLoggedIn)
{
    <h1>Velkommen til BB.eu</h1>
}
else
{
    <h1> Velkommen tilbage - @loginState.Renter.FirstName @loginState.Renter.LastName</h1>
}