@page "/RenterProfile"
@using BB.eu.Web.Services
@using BB.eu.Shared.Models
@inject IRenterService renterService
@inject Data.LoginState loginState

@if (!loginState.IsLoggedIn)
{
    <h3>Log ind som udlejer</h3>
}
else
{
    <h3>Profil</h3>
}

@if (!loginState.IsLoggedIn)
{
    <EditForm Model="Renter" OnSubmit="HandleSubmit">
        <div class="form-group row">
            <label for="firstName" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-2">
                <InputText id="email" class="form-control" placeholder="Email@email.dk"
                           @bind-Value="Renter.Email"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-2">
                <InputText type="password" id="password" class="form-control" placeholder="Password"
                           @bind-Value="Renter.Password"/>
                <ValidationMessage For="() => Renter.Password"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Log ind</button>
    </EditForm>
}
else
{
    <EditForm Model="Renter" class="h5">
        <div class="form-group">
            <label class="font-weight-bold´8">Email: </label>
            <label>@Renter.Email</label>
        </div>
        <div class="form-group">
            <label class="font-weight-bold´8">Fornavn: </label>
            <label>@Renter.FirstName</label>
        </div>
        <div class="form-group">
            <label class="font-weight-bold´8">Efternavn: </label>
            <label>@Renter.LastName</label>
        </div>
    </EditForm>
}

@code {

    protected override void OnInitialized()
    {
        Renter = loginState.Renter;
        loginState.OnChange += StateHasChanged;
    }

    private Renter Renter { get; set; } = new Renter();

    private async Task HandleSubmit()
    {
        Renter r = await renterService.LoginAsync(Renter);
        if (r == null)
            return;
        Renter = r;
        loginState.SetLogin(true, Renter);
    }

}