@page "/registerRenterAccount"
@using BB.eu.Web.Services
@using BB.eu.Shared.Models
@inject IRenterService renterService

<h3>RegisterRenterAccount</h3>

<EditForm Model="Renter" OnSubmit="HandeSubmit">
    <div class="form-group">
        <label >First Name</label>
        <InputText @bind-Value="Renter.FirstName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label >Last Name</label>
        <InputText @bind-Value="Renter.LastName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label >Email</label>
        <InputText @bind-Value="Renter.Email" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label >Age</label>
        <InputNumber @bind-Value="Renter.Age" class="form-control"></InputNumber>
    </div>
    <div class="form-group">
        <label >Age</label>
        <InputText @bind-Value="Renter.Password" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>

</EditForm>

@code {
    public Renter Renter { get; set; } = new();


    private async Task HandeSubmit()
    {
        Console.WriteLine(Renter.Email);
        Renter renter = await renterService.CreateAsync(Renter);

        Console.WriteLine(renter.Id);
    // throw new NotImplementedException();
    }

}